

{% extends 'clients/main.html' %}
{% block content %}
{% load static %}

<div class="row">
    <div class="col-sm-6">
     
      {% for product in products %} 
        <div class="card">
         
           <!-- <img class="card-img-top" src="{% static 'images/home.jpeg' %}" alt="Card image cap"> -->
            <img class="card-img-top" src="{{ product.product_image.url  }}"  alt="Card image cap">
      
            <div class="card-body">
              <h5 class="card-title">{{ product.products_name }}</h5>
              <p class="card-text">₱ &nbsp {{ product.price }}</p>
              <a href="{% url 'create_order'%}" class="btn btn-primary" > Add</a>
              <a href="{% url 'update' product.id %}" class="btn btn-primary" >Update</a>
              <a href="{% url 'delete' product.id %}" class="btn btn-primary" >Delete</a>
              
            </div>
          </div>    
      {% endfor %}
    </div> 
    
    
</div>

  
{% endblock %}